<nav class="navbar">
    <div class="container">
        <a id='logo' href="/">
            <i class="fa-solid fa-suitcase"></i>
            <img src="images/logo.png">
        </a>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li  id="jobsMenu">
                <span>Jobs <i class="fa-solid fa-caret-down"></i></span>
                <ul>
                    <li>
                        <a href="/post">Post a job</a>
                    </li>
                    <li>
                        <a href="/jobs">Apply for a job</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class='account' href="/login">
                    <% if(authenticated){ %>
                        Logout <span> admin </span>
                      <% } else{ %>  
                        Login
                     <% } %>
                </a>
            </li>
        </ul>
    </div>
</nav>