<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <header class="header">
        <div class="header-layer">
            <div class="container">
                <div class="text">
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <p class="typewriter">Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
                <img src="images/business-woman.png">
                <i class="fa fa-angle-down"></i>
            </div>
        </div>
    </header>
    <section class="choices">
        <div class="container">
            <h1>What are you looking for?</h1>
            <div class="boxes">
                <a href="/post">
                    <div class="box">
                        <p>Post a job</p>
                    </div>
                </a>
                <a href="#">
                    <div class="box">
                        <p>Apply for a job</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="reviews">
        <div class="container">
            <h1>Not convinced yet?</h1>
            <div class="cards">
                <div class="card">
                    <img src="https://pbs.twimg.com/profile_images/1184726007183527936/B1GVdAB6_400x400.jpg">
                    <h3>Klaus Iohannis</h3>
                    <p>"This website is safe to use!"</p>
                    <span>10.05.2022</span>
                </div>
                <div class="card">
                    <img src="https://scontent.fotp8-1.fna.fbcdn.net/v/t1.6435-9/34600408_1654395378014628_3849397664907001856_n.jpg?_nc_cat=106&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=FBxnugYa4sUAX_Srm7t&_nc_ht=scontent.fotp8-1.fna&oh=00_AT_3sFzRL_ud8cyWNUPaewysLssVm2cx1DzzwqQhClxW1w&oe=62A7FD66">
                    <h3>Amber Heard</h3>
                    <p>"I find this platform very useful. <br> Thank you!"</p>
                    <span>15.05.2022</span>
                </div>
                <div class="card">
                    <img src="https://www.biography.com/.image/t_share/MTc5OTk2ODUyMTMxNzM0ODcy/gettyimages-1229892983-square.jpg">
                    <h3>Elon Musk</h3>
                    <p>"How much is it?"</p>
                    <span>05.10.2025</span>
                </div>
            </div>
        </div>
    </section>
    <%- include("./partials/footer.ejs") %>
</body>
</html>